* {
  font-family: Segoe,"Segoe UI",Calibri,Helmet,FreeSans,Sans-Serif;
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #888;
  font-weight: bold;
  margin: 10px 0;
  &:hover {
    color: #000;
  }
}

.header {
  padding: 10px;
  h3 {
    font-size: 18px;
    margin: 10px 0;
  }
  border-bottom: 1px solid #DEE7ED;
}

.body {
  background: #F2F5F8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  .content {
    background: #fff;
    box-shadow: 0 1px 6px -3px #aaa;
    padding: 10px;
    border-radius: 4px;
    flex: 0 1 auto;
    margin: 20px 0;
    flex-direction: row;
    &.wide {
      width: 80%;
    }
    .tools {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      align-items: center;
      .main {
        display: flex;
        .box {
          display: flex;
          align-items: center;
          margin-right: 20px;
          border: 1px solid #ddd;
          padding: 8px;
        }
        input {
          margin: 0 5px;
          max-width: 150px;
        }
      }
    }
  }
}

.tree {
  &, ul {
    list-style: none;
    padding-left: 25px;
    color: #369;
  }
  li {
    position: relative;
    & > .item {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
    &::before, &::after {
      content: " ";
      position: absolute;
      left: -12px;
    }
    &::before {
      border-top: 1px solid #000;
      top: 9px;
      height: 0;
      width: 8px;
    }
    &::after {
      border-left: 1px solid #000;
      top: 2px;
      height: 100%;
      width: 0;
    }
  }
  ul {
    & > li:last-child::after {
      height: 8px;
    }
  }
}

.modal {

}

.btn {
  cursor: pointer;
  padding: 10px 12px 8px;
  border-radius: 4px;
  color: #fff;
  font-weight: bolder;
  margin: 0 10px;
  border: 0 none;
  outline: none;
  &.btn-primary {
    background: #0073E9;
  }
  &.btn-export {
    background: #00A950;
  }
}

h2 {
  font-size: 22px;
  margin-left: 10px;
}

.flash-error {
  margin: 10px auto;
  color: #d02525;
  font-weight: bolder;
}